div {
    border:1px solid black;
}

.buyIconContainer{
    border: 1px solid red;
    text-align: right;
    vertical-align: bottom;
    position: relative;
    padding-bottom: 15px;
}


.buyIconImage{
    width: 100%;
    height: auto;
    align-self: left;
}

.buyIconLevelText{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 200%;
    font-weight: bold;
    color: red;
}

.countContainer{
    border: 1px solid black;
    /* width: 500px; */
    overflow: hidden; /* will contain if #first is longer than #second */
}

.countImage{
    float:left; /* add this */
    border: 1px solid red;
}

.countText{
    border: 1px solid green;
    overflow: hidden;
    font-size: 30px;
}

.recipeIcon{
    width: 50px;
}


.rateText {
    /* display: none; */
}

.buyWrapper {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-gap: 10px;
}
.buyLevelSetControls{
    grid-column-start: 1;
    grid-column-end: 3;
}

#levelSelectSlider{
    width: 100%;
}
